body,div,img {
  margin: 0px;
  padding: 0px;
}
#application {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
/*Albums*/
.album {
  width: 100%;
  border-top: 1px solid gray;
  padding: 5px;
}
.album .image {
  width: 200px;
  height: 150px;
  float: left;
}
.album .info {
  float: left;
  padding: 5px;
  width: 590px;
}
.album .clear {
  clear: both;
}