body,div,img {
  margin: 0px;
  padding: 0px;
}
#application {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
h2 {
  margin: 0px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
}
/*Albums*/
.album {
  width: 100%;
  border-top: 1px solid gray;
  padding: 5px;
}
.album .image {
  width: 200px;
  height: 150px;
  float: left;
}
.album .info {
  float: left;
  padding: 5px;
  width: 490px;
}
.album .actions {
  float: left;
  width: 100px;
}
.album .act:hover {
  text-decoration: underline;
  cursor: pointer;
}
.album .clear {
  clear: both;
}
.like {
  width: 800px;
  text-align: right;
}